{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header id="header" class="{{#if @blog.cover}}">
    <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    {{navigation}}
</header>

<!-- Banner -->
<section id="banner" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <h2>{{@blog.description}}</h2>
</section>

<!-- One -->
<section id="one" class="wrapper style1 align-center">
    <div class="container">
        <header>
            <h2>Skillsets</h2>
            <p>Some things I'm passionate about</p>
        </header>
        <div class="row 200%">
            <section class="4u 12u$(small)">
                <i class="icon big rounded fa-users"></i>
                <p>Research</p>
            </section>
            <section class="4u 12u$(small)">
                <i class="icon big rounded fa-sitemap"></i>
                <p>User Experience</p>
            </section>
            <section class="4u$ 12u$(small)">
                <i class="icon big rounded fa-paintbrush"></i>
                <p>Visual</p>
            </section>
        </div>
    </div>
</section>

{{! The main content area on the homepage }}
<section id="two" class="wrapper style2 align-center">
    <div class="container">
        <header>
            <h2>Portfolio</h2>
            <p>Recently finished projects.</p>
        </header>
        <div class="row">
            {{! The tag below includes the post loop - partials/loop.hbs }}
            {{> "loop"}}
        </div>
    </div>
</section>
