{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="vertical">
        <div class= "main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
    </div>
    <a class="scroll-down" href="#content" data-offset="-45"><i class="material-icons">arrow_drop_down_circle</i><span class="hidden">Scroll Down</span></a>
</header>
{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

  <div style="float:left" class="mdl-grid mdl-cell--8-col-desktop">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
  </div>
  <section class="mdl-grid mdl-cell--4-col-desktop"style="padding:0px;margin-right:0px!important;margin-top:40px!important;background:#f5f5f5; float:right">
      <div style="padding:40px; width:100%;">
          <!-- <img style="width:100px; border-radius:100%;" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAPDAAAAJDBhOWU3ODNkLTZmOTUtNDA0Ny04ZmJlLTkxNDU5OGVjNzFiZg.png"/> -->
          <h5 style="margin-bottom:3px;">Graeme Fulton</h5>
          <p>Designer & prototyper.</p>
          <!-- Raised disabled button-->
          <a href="/tag/portfolio" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            View Portfolio
          </a>

          <section class="share" style="margin-top:8px;">
            Follow me: &nbsp;
            <a style="font-size:23px;"target="_blank" href="https://twitter.com/graeme_fulton"><i class="fa fa-twitter"></i></a>
              <a  style="font-size:23px;" target="_blank"href="https://uk.linkedin.com/in/graeme-fulton-98889b53"><i class="fa fa-linkedin"></i></span></a>
          </section>

      </div>

      <!-- Begin MailChimp Signup Wrapper -->

      <div style="width:100%; height:1px; background:#e0e0e0"></div>
      <div style="padding:40px; width:100%;">
        <!-- Begin MailChimp Signup Form -->
        {{> mailchimp}}
      </div>
      <!-- End MailChimp Signup Wrapper -->

      <div style="width:100%; height:1px; background:#e0e0e0"></div>
      <div style="padding:40px; width:100%;">
        <h5>Featured Projects</h5>
        <dl class="featured-story-side">
          <a style="text-decoration:none;" href="http://www.graemefulton.com/ibm-developerworks-recipes/" target="_new">
          <img style="width:100%;"src="https://gfulton-images.s3.amazonaws.com/2016/Feb/CLQ07lAWoAAh87A-1456787213299.png" alt="">
          <p style="margin-top:12px;font-size:15px;color:#555;text-decoration:none;">IBM developerWorks Recipes</p>
          </a>
        </dl>
        <dl class="featured-story-side">
          <a style="text-decoration:none;" href="http://www.graemefulton.com/ibm-watson-learning-from-feedback/" target="_new">
          <img style="width:100%;"src="https://gfulton-images.s3.amazonaws.com/2016/Feb/landscape_1430851135_watson-1456674868544.jpg" alt="">
          <p style="margin-top:12px;font-size:15px;color:#555;text-decoration:none;">IBM Watson IoT: Learning From User Feedback</p>
          </a>
        </dl>
        <dl class="featured-story-side">
          <a style="text-decoration:none;" href="http://www.graemefulton.com/ibm-iot-recipe-page/" target="_new">
          <img style="width:100%;"src="https://gfulton-images.s3.amazonaws.com/2016/Mar/Captura_de_pantalla_2016_03_01_a_las_10_50_45-1456829800319.png" alt="">
          <p style="margin-top:12px;font-size:15px;color:#555;text-decoration:none;">IBM IoT Recipes Page</p>
          </a>
        </dl>
      </div>


      <div style="width:100%; height:1px; background:#e0e0e0"></div>
      <div style="padding:40px; width:100%;">
        <h5>Github</h5>
        <a target="_blank"href="http://github.com/GraemeFulton"><img class="logo-image sidebar-icon"src="{{asset "images/Octocat.png"}}" /></a>
      </div>

      <div style="width:100%; height:1px; background:#e0e0e0"></div>
      <div style="padding:40px; width:100%;">
        <h5>Popular Topics</h5>
        <h6 style="margin-bottom:2px;margin-top:5px;"><a style="text-decoration:none;"href="/tag/design">#Design</a></h6>
        <h6 style="margin-bottom:2px;margin-top:5px;"><a style="text-decoration:none;"href="/tag/IBM">#IBM</a></h6>
        <h6 style="margin-bottom:2px;margin-top:5px;"><a style="text-decoration:none;"href="/tag/web-audio-api/">#WebAudioAPI</a></h6>
      </div>
  </section>

</main>
