{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
</header>


<div class="{{post_class}} post demo-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <div class="post-content-wrapper">
              <div class="demo-crumbs mdl-color-text--grey-500">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
              </div>
              <h3>{{title}}</h3>
              {{content}}
              <div class="post-footer">

              {{! Everything inside the #author tags pulls data from the author }}
              {{#author}}

                  {{#if image}}
                  <figure class="author-image">
                      <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                  </figure>
                  {{/if}}

                  <section class="author">
                      <h4><a href="{{url}}">{{name}}</a></h4>

                      {{#if bio}}
                          <p>{{bio}}</p>
                      {{else}}
                          <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                      {{/if}}
                      <div class="author-meta">
                          {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                          {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                      </div>
                  </section>

              {{/author}}


              </div>

            </div>
          </div>
        </div>
{{/post}}
