{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header overlay-header page post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
  {{!use a different content layout for portfolio posts vs regular posts}}
  {{#has tag="portfolio"}}
    <h1>{{title}}</h1>
    <div class="overlay"></div>
  {{/has}}
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
</header>

{{!use a different content layout for portfolio posts vs regular posts}}
{{#has tag="portfolio"}}
  {{> portfolio-content}}
{{else}}
  {{> post-content}}
{{/has}}

<div class="{{post_class}} post demo-container mdl-grid" style="margin-top:-16px; border-top:1px solid #E8E8E8; padding-top:55px;padding-bottom: 8vh;margin-bottom:0px;">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone" ></div>
      <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
         <div class="post-content-wrapper"style="background-color:#f8f8f8;">

           {{> post-disqus}}
          </div>
      </div>
</div>


        {{> post-read-next}}

        {{> post-fab}}

{{/post}}

<script type="text/javascript" src="{{asset "js/syntaxhighlighter/shCore.js"}}"></script>
<script type="text/javascript" src="{{asset "js/syntaxhighlighter/shAutoloader.js"}}"></script>
<script type="text/javascript" src="{{asset "js/syntaxhighlighter/shBrushJScript.js"}}"></script>
<script type="text/javascript" src="{{asset "js/syntaxhighlighter/shBrushXml.js"}}"></script>
<script type="text/javascript" src="{{asset "js/syntaxhighlighter/shBrushPHP.js"}}"></script>
<script type="text/javascript">SyntaxHighlighter.all()</script>
